.body {
    padding: 0;
    margin: 0;
    background-color: rgba(100, 48, 148, 0.8);
    font-size: 14px;
}

/* common styles */

.icon {
    width: 48px;
    height: 48px;
    padding: 0.5rem;
    background-color: rgba(7, 17, 8, 0.582);
    border-radius: 10px;
    margin-right: 10px;
}

.text-dark {
    color: rgb(31, 3, 102);
}

.text-lite {
    color: rgb(226, 186, 162);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.red-line {
    margin-left: 2rem;
}

.flex-row {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.site-font {
    font-family: "Courier New", Courier, monospace;
}

/* other styles */

.body__navbar {
}

.navbar {
    position: relative;
    justify-content: end;
}

.navbar__img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.img {
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
    height: 500px;
    border-radius: 0px 0px 10px 10px;
}

.body__links {
    margin: 0.5rem 4rem;
}

.links {
    justify-content: space-between;
    min-width: 150px;
}

.icon-telegram {
}

.icon-github {
    margin-right: 0px;
}

.greetings {
    font-size: 2rem;
    line-height: 3rem;
}

.main-text {
    font-size: 1rem;
    line-height: 1.2rem;
}

.body__main {
    margin: 2rem 20rem;
}

.info {
}

.main__info {
    margin-top: 200px;
}

.avatar {
    width: 40%;
    border-radius: 10px;
}

.video {
    width: 100%;
}

.main__video {
    margin-top: 2rem;
}

.body__footer {
    margin-top: 100px;
}

.footer {
    background-color: rgba(105, 50, 153, 0.8);
    margin: 0;
    padding: 30px;
    align-items: center;
}
.footer-info {
    padding-top: 10px;
    font-size: 14px;
    color: rgb(202, 144, 62);
}
